html {
    background-color: rgba(0, 0, 255, 0.3);

}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    margin: 0 auto;
    padding: 0 2em;
    background-color: brown;
    border: 1px solid green;
}
main {
	
}
form{
	border: 1px solid blue;
}

h1 {
	text-align: center;
}

footer {
	clear: both;
	margin-bottom: .1em;
	text-align: center;
}
